<h1>Azure Cosmos Db</h1>

<form method="post">
    <button name="dato" value="aaa" class="btn btn-danger">
        Generar Cosmos Db
    </button>
</form>
<h1 style="color:blue">
    @ViewData["MENSAJE"]
</h1>